<a href="/">Voltar</a>
<h2>Editar uma Nota:</h2>
<form action="/notes" method="post">
    <div class="mb-3">
        <label for="title" class="form-label">Titulo:</label>
        <input type="text" class="form-control" id="title" name="title" placeholder="O que voce deseja fazer?">
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Descrição:</label>
        <textarea class="form-control" id="description" name="description" placeholder="Descreva melhor sua anotação"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Criar Nota</button>
</form>